*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;  
    padding: 20px;
} 

header{
    background-color: #1e293b;
    color: white;
    padding: 10px 0;
    text-align: center;
    border-radius: 8px;
}

section{
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2{
    color: #1e293b
}

section h3{
    color: #2563eb;
}

nav{
    background-color: #1e293b;
    padding: 15px;
    text-align: center;
}

nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

header{
    background-color: #2563eb;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

main{
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

section{
    background-color: white;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 8px;    
}

section h2{
    color: #1e293b;
    margin-bottom: 15px;
}

ul{
    margin-left: 20px;
}
li{
    margin-bottom: 8px;
}

h3{
    color: #2563eb;
    margin-bottom: 10px;
}

section:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

footer{
    text-align: center;
    padding: 20px ;
    background-color: #1e293b;
    color: white;
}

@media (max-width: 768px){
    nav{
        padding: 10px
    }

    nav a{
        display: block;
        margin: 10px 0;
    }

    header{
        padding: 30px 15px;
    }

    main{
        margin: 20px auto
    }
}